<%-include('../partials/header') %>

<div class="todo-card content">
  <div class="card horizontal t-card">
    <div class="card-content t-content">

      <div class="row today-content">
        <div class="col s3 today-btns">
          <div class="row">
            <a href="/today" class="todo-btn waves-effect waves-light btn">TODAY</a>
          </div>
          <div class="row">
            <a href="/week" class="todo-btn waves-effect waves-light btn">WEEK</a>
          </div>
          <div class="row">
            <a href="/year" class="todo-btn waves-effect waves-light btn">YEAR</a>
          </div>
        </div>
        <div class="t-divider"></div>

        <div class="col s9 today-list">
          <div class="today-list-content">
            <ul> 
              <% user.today.forEach(function(ttodo) { %>
              <li>
                <form action="/today/<%= ttodo._id %>?_method=DELETE" class="delete-form" class="btn-done"
                  method="POST">
                  <button type="submit">X</button>
                </form>
                <a href="/today/<%=  ttodo._id %>/edit" class="show"> <%= ttodo.content %></a>
              </li>
              <div class="divider"></div>
              <% }); %>
            </ul>
          </div>
          <div class="today-add">
            <form action="/today" class="input-add" method="POST" autocomplete="off">
              <input placeholder="Add new task" type="text" name="content">
              <button class="btn waves-effect waves-light" type="submit" name="action"> Add Task
                <i class="material-icons right">create</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>