<%-include('../partials/header') %>

<article class="content">
  <ul>
    <% user.todos.forEach(function(todo) { %>
    <li>
      <form action="/todos/<%= todo._id %>?_method=DELETE" class="delete-form" class="btn-done" method="POST">
        <button type="submit">Done</button>
      </form>
      <a href="/todos/<%=  todo._id %>/edit" class="show"> <%= todo.content %></a>
    </li>
    <% }); %>
  </ul>
  <form action="/todos" class="input-add" method="POST" autocomplete="off">
    <input placeholder="Add new task" type="text" name="content">
    <button class="btn waves-effect waves-light" type="submit" name="action"> Add Task
      <i class="material-icons right">create</i>
    </button>
  </form>
</article>
<aside class="side">
  TODAY
</aside>
<%- include('../partials/footer') %>